@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*COLORS*/
$general-background-save: rgb(7, 0, 128);
$general-background: linear-gradient(
  180deg,
  rgba(7, 0, 128, 1) 0%,
  rgba(9, 9, 121, 1) 23%,
  rgba(6, 77, 166, 1) 61%,
  rgba(1, 188, 226, 1) 92%,
  rgba(254, 189, 34, 0.8) 100%
);
$background-1: #27274d;

/*COLORS END*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $general-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.TodoWrapper {
  h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 3.2em;
  }
  background: $background-1;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  width: 370px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/*Effects shared between Creating forms and Editing Forms*/
.TodoForm,
.EditTodoForm,
.TypeForm {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
  &__Task {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    // margin: 1rem auto 0.5rem;
    &__input {
      outline: none;
      background: #fff;
      border: 1px solid #fff;
      padding: 0.5rem 1rem;
      width: clamp(150px, 19em, 500px);
      color: black;
      flex: auto;
    }
  }
  &__CatDate {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: baseline;
    input,
    select {
      background: rgba(95, 95, 95, 0.69);
      border: 1px solid #313131;
      padding: 0.5rem 1rem;
    }
    select option {
      background: #fff;
      border: 1px solid #313131;
      padding: 0.5rem 1rem;
      color: black;
    }
  }
}
/*Effects only for the editing forms*/
.EditTodoForm {
  width: 98%;
  margin: auto;
  padding-bottom: 1rem;
  background: #005657;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  &__Task {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Effects only for the Type-category creating forms*/
.TypeForm {
  .type-form-organizer {
    display: flex;
    height: 40px;
    width: 100%;

    input[type="color"] {
      height: 95%;
      width: 38px;
      background: none;
      border: 2px solid #f2f2f2;
      position: relative;
      &::after {
        position: absolute;
        content: "color";
      }
    }
    input[type="text"] {
      margin-top: 0;
      height: 100%;
      flex: auto;
      background: white;
    }
  }
}

.date-title {
  text-align: left;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.add-btn {
  font-size: 0.8em;
  background: #03b1b4;
  color: #fff;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: $background-1;
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 0.2rem;
  cursor: pointer;
  min-height: 40px;
  position: relative;
  &:first-child {
    border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    -ms-border-radius: 0 2px 2px 2px;
    -o-border-radius: 0 2px 2px 2px;
  }
  &__type-color {
    width: 15px;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
  }
  &__container {
    max-width: 315px;
    margin-left: 15px;
    p {
      width: 100%;
      word-wrap: break-word;
      font-size: 15px;
    }
  }
  &__icons {
    display: flex;
    gap: 0.75rem;
  }
  &.completed {
    background: #2cd477;
    text-decoration: line-through;
  }
}

.Weekly-divider {
  margin-bottom: 1rem;
  background-color: #00bdc0;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  &__Header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    background-color: #008b8e;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    &__Titles {
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 5px 15px;
      border-radius: 8px 8px 0 0;
      -webkit-border-radius: 8px 8px 0 0;
      -moz-border-radius: 8px 8px 0 0;
      -ms-border-radius: 8px 8px 0 0;
      -o-border-radius: 8px 8px 0 0;
      h3 {
        text-decoration: underline;
        font-size: 1em;
      }
      p {
        font-size: 15px;
      }
      /*cover green if week is completed*/
      &-complete {
        background: #20a05a;
      }
    }
    &__EditableContent {
      border-top: 1px solid rgb(11, 11, 11);
      display: flex;
      padding: 8px 15px 5px;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      text-align: left;
      font-size: 17px;
      &__Editinginput {
        margin-bottom: 0.5rem;
        min-height: 40px;
        width: 100%;
        overflow-wrap: break-word;
      }
      &__paragraph {
        font-family: "Roboto", sans-serif;
        overflow-wrap: break-word;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 5px;
        padding: 0 5px;
      }
      /*cover green if week is completed*/
      &-complete {
        background-color: #2cd477;
      }
    }
  }
  &__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
  }
}
/*Buttons for edit and Collapse in the week, not boxed in case of reuse*/
.editOrCollapse {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 2px 15px;
    max-width: 70px;
    background: #27275f;
    font-size: 0.8em;
  }
}

.Daily-divider {
  border-bottom: 2px solid #1a1a40;
  width: 100%;
  margin-bottom: 0.2rem;
  padding: 5px;
  &__Header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 5px 0 0;
    &__Title {
      text-align: left;
      color: #f1ee1a;
      font-size: 0.85rem;
      margin-bottom: 0;
      width: auto;
      &:first-child {
        background: #5085b6;
        border-radius: 5px 5px 0 0;
        padding: 2px 7px;
        color: #fff;
      }
    }
    .todayDate {
      background-color: #44cfa6 !important;
      position: relative;
      &::before {
        content: "today";
        font-size: 0.65rem;
        background-color: #fff;
        color: black;
        padding: 1px 6px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
      }
    }
  }
  /*fix last child*/
  &:last-child {
    border-bottom: none;
  }
}

.completed-day {
  background-color: #25c06a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 780px) {
  .TodoWrapper {
    width: 550px;
  }

  .TodoForm {
    width: 486px;
    &__CatDate {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .Weekly-divider__Header__Titles {
    h3 {
      font-size: 1.17em;
    }
    p {
      font-size: 18px;
    }
  }

  .TypeForm {
    width: 486px;
  }

  .add-btn {
    font-size: 1em;
  }
}

/*Styles spécifiques pour les grands écrans type écrans d'ordinateur*/
@media screen and (min-width: 980px) {
}
